<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Form</title>
</head>
<body>

    <form action="/submit" method="post" >
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="team name">Team Name</label>
        <input type="text" id="team name" name="team_name" required><br>

        <label for="bio">Team number</label>
        <input id="bio" name="Team_number" rows="4" cols="50"></input><br>

        <label>Gender:</label>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label><br>


        <label for="profilePic">Project Name</label>
        <input type="text" id="profilePic" name="Project_Name" ><br>

        <label for="age">Age :</label>
        <input type="text" id="age" name="age" ><br>
        <label for="architecture">Architecture :</label>
        <input type="text" id="architecture" name="architecture" ><br>
        

        <input type="submit" value="Submit">
    </form>

</body>
</html>
